add_book.html linguist-detectable=false
revenue.html linguist-detectable=false
loginoption.html linguist-detectable=false
first.html linguist-detectable=false
cart.html linguist-detectable=false
order_details.html linguist-detectable=false
review.html linguist-detectable=false
book_detail.html linguist-detectable=false
base.html linguist-detectable=false
all_book.html linguist-detectable=false
book_review.html linguist-detectable=false
login.html linguist-detectable=false
change_price.html linguist-detectable=false
register.html linguist-detectable=false